.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $btn-primary-color;
    background-color: lighten($btn-primary-bg, 8%);
        border-color: lighten($btn-primary-bg, 8%);
  }
}
.btn-secondary {
  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $btn-secondary-color;
    background-color: lighten($btn-secondary-bg, 8%);
        border-color: lighten($btn-secondary-bg, 8%);
  }
}
.btn-cta {
  @include button-variant($btn-cta-color, $btn-cta-bg, $btn-cta-border);
  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $btn-cta-color;
    background-color: lighten($btn-cta-bg, 8%);
        border-color: lighten($btn-cta-bg, 8%);
  }
}