@mixin vertical-align($font-size) {
    > .fullscreen-wrapper {
        z-index: 99;
        height: 100%;
        width: 100%;
        position: absolute;
        background: rgba(0, 0, 0, .5);
        .icon-wrapper {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            font-size: $font-size * 1px;
            a {
                color: white;
                opacity: 0.4;
                &:hover {
                    opacity: 1;
                    transition-property: opacity;
                    transition-duration: 0.5s;
                }
            }
        }
    }
}