// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #a30046;

//Custom Colors:
$brand-secondary: #dbdbdb;
$brand-cta: #ffc425;

$grid-gutter-width:             30px;
$container-large-desktop:      (1200px + $grid-gutter-width);

$font-family-sans-serif:  "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size-base:          14px;

$font-size-h1:            floor(($font-size-base * 2)); // ~36px
$font-size-h2:            floor(($font-size-base * 1.75)); // ~30px
$font-size-h3:            ceil(($font-size-base * 1.4)); // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.85)); // ~12px

//Custom Buttons
$btn-secondary-color:              #000;
$btn-secondary-bg:                 $brand-secondary;
$btn-secondary-border:             $brand-secondary;

$btn-cta-color:              	   #000;
$btn-cta-bg:                 	   $brand-cta;
$btn-cta-border:             	   $brand-cta;

$screen-md:                  1025px;
$screen-md-min:              $screen-md;

// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-md-min;

//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;

//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width) !default;
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            (996px + $grid-gutter-width) !default;
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      (1140px + $grid-gutter-width) !default;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default;