footer.content-info {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #F1F1F2;
    color: #231F20;
    .social-media a {
        color: #231F20;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
        color: #231F20;
    }
    ul {
        padding: 0;
        list-style: none;
    }
    h4{
        margin-top: 0;
    }
    .container section {
        @include make-sm-column(4);
        &.widget {
            .fa {
                margin-right: 10px;
            }
            &.widget_nav_menu{
                width: 25%;
                float: right;
            }
        }
    }
}

.asu-footer .little-foot {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e5e5e5;
    ul.little-foot-nav {
        padding: 0;
        list-style: none;
        > li {
            > a {
                margin-right: 30px;
                color: #333;
                border-bottom: 0;
                font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 16px;
                font-weight: normal;
                &:hover, &:focus {
                    color: #595959;
                }
            }
        }
        &:last-child > a {
            margin-right: 0;
        }
    }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
    .asu-footer .little-foot ul.little-foot-nav>li {
        float: left;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
    footer.content-info {
        section.widget {
            h4 {
                margin-top: 0;
            }
        }
    }
    section.widget img{
        max-width: 100%;
        height: auto;
    }
}
