.navbar-default {
    background: white;
    margin-bottom: 0;
    border-bottom: 2px solid rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 300;
    .navbar-brand {
        margin: 0;
        float: right;
        height: auto;
        line-height: 20px;
        font-size: 18px;
        padding: 31px 0 31px 12px;
        text-transform: lowercase;
        letter-spacing: 2px;
        a {
            color: #000;
            text-decoration: none;
            &:hover {
                color: $brand-primary;
            }
        }
    }
    .navbar-brand-parent.mobile {
        float: left;
        padding: 21px 0 21px 10px;
        img {
            width: auto;
            height: 40px;
        }
    }
    .navbar-brand-parent {
        float: right;
    }
    .navbar-nav>li {
        &:before {
            content: " ";
            display: block;
            border-radius: 3px;
            border-left: 3px solid transparent;
            height: 100%;
            position: absolute;
        }
        >a {
            font-size: 18px;
            color: #000;
            letter-spacing: 1px;
            &:hover {
                background-color: #f5f5f5;
            }
            &:focus,
            &:hover {
                color: #333;
                background-color: transparent;
            } 
        }
        &.active, &:hover{
            &:before {
                border-color: #990033;
            }
        }
        &.active{
          a, a:hover{
            background-color: transparent;
          }
        }
        > {
            a, a:focus, a:hover {
                color: #000;
            }
        }
    }
}

.admin-bar .navbar-default {
    top: 32px !important;
}
.navbar-default{
  &.animate {
    transition-property: padding;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  .navbar-toggle {
    border-color: transparent;
    margin-right: 0px;
    padding: 15px;
    margin-top: 17px;
    margin-bottom: 17px;
    border: 0;
    background: transparent !important;
    &:hover {
      background: transparent !important;
    }
    > .icon-bar {
      width: 22px;
      height: 3px;
      border-radius: 4px;
      background-color: #000;
      &:nth-child(2) { 
        transform: rotate(45deg);
        margin-bottom: -7px;
        margin-top: 7px;
        transition-property: margin-bottom, margin-top, transform;
        transition-duration: .2s, .2s, .3s;
        transition-delay: 0s, 0s, .3s;   
      }
      &:nth-child(3){
        opacity: 0;
      }
      &:last-child {
        transform: rotate(-45deg);
        margin-top: -3px;
        transition-property: margin-top, transform;
        transition-duration: .2s, .3s;
        transition-delay: 0s, .3s;
      }
    }
  
    &.collapsed {
     > .icon-bar{
        &:nth-child(2){
          transform: rotate(0);
          margin-bottom: 0px;
          margin-top: 0px;
          transition-delay: .4s, .4s, 0s;
        }
        &:nth-child(3){
          opacity: 1;
        }
        &:last-child{
          transform: rotate(0);
          margin-top: 4px;
          transition-delay: .4s, 0s;
        }
      }
    }
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .navbar-default .navbar-brand-parent > img {
    height: 28px;
    width: auto;
    margin-top: 0px;
  }
  .navbar-default .navbar-brand-parent.mobile {
    padding: 40px 0px;
    img {
        width: auto;
        height: 28px;
    }
  }

  .navbar-default {
    .navbar-brand {
        padding: 44px 0;
    }
    .navbar-toggle{
      padding: 38px 15px;
    }
    &.shrink{
      .navbar-toggle {
        padding: 18px 15px;
      }
     .navbar-brand{
       padding: 24px 0;
     }
     .navbar-brand-parent.mobile {
       padding: 20px 0;
     }
    }
    &.animate .navbar-header > * {
      transition-property: padding, height;
      transition-duration: 0.4s;
      transition-timing-function: ease-in;
    }
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .navbar-logo {
    float: right;
    &.shrink img {
      height: 40px;
    }
  }
  .navbar-default {
    padding: 35px 0;
    .navbar-brand {
      float: left;
      padding: 10px 15px;
      font-size: 27px;
      line-height: 30px;
      height: 50px;
      letter-spacing: 4px;
    }
    .navbar-nav>li {
      &:before {
          content: " ";
          position: relative;
          border-left-width: 0;
          border-top: 2px solid transparent;
          border-bottom: 2px solid transparent;
      }
      &.active, &:hover{
        &:before {
            border-top-color: #990033;
        }
      }
      > {
        a, a:focus, a:hover {
            color: #000;
        }
      }
    }
  }

  .navbar-default {
    &.shrink{
     .navbar-brand{
       padding: 11px 0;
     }
    }
  }
}

@media (min-width: $screen-lg-min) {
  .navbar-default .navbar-brand-parent > img {
    height: 60px;
    width: auto;
    margin-top: 0;
  }
  .navbar-default {
    &.shrink{
      padding: 15px 0;
     .navbar-brand{
       padding: 10px 15px;
     }
    }
  }
}